---
title: "Curriculum Vitae"
description: "Curriculum vitae for Benjamin F. Jarvis."
title-block-style: none
body-class: generated-page
---

::: {.page-hero .cv-hero}
# Curriculum Vitae

[Download PDF](cv/Benjamin-F-Jarvis-CV.pdf){.btn .btn-light}
:::

::: {.cv-layout}
::: {.cv-sidebar}
[Appointments](#appointments)
[Education](#education)
[Journal Articles](#journal-articles)
[Books & Chapters](#books-chapters)
[Works in Progress](#working-papers)
[Presentations](#presentations)
[Invited & Other Talks](#invited-talks)
[Grants](#grants)
[Teaching](#teaching)
[Supervision](#supervision)
[Service](#service)
[Skills](#skills)
[Miscellaneous](#miscellaneous)
:::

::: {.cv-main}
::: {.cv-section #appointments}
## Appointments
{{ appointments }}
:::

::: {.cv-section #education}
## Education
{{ education }}
:::

::: {.cv-section #journal-articles}
## Journal Articles
::: {.cv-list}
{{ journal_articles }}
:::
:::

::: {.cv-section #books-chapters}
## Books & Book Chapters
::: {.cv-list}
{{ books_chapters }}
:::
:::

::: {.cv-section #working-papers}
## Works in Progress
::: {.cv-list}
{{ working_papers }}
:::
:::

::: {.cv-section #presentations}
## Conference Presentations
::: {.cv-list}
{{ conference_presentations }}
:::
:::

::: {.cv-section #invited-talks}
## Invited and Other Talks
::: {.cv-list}
{{ invited_talks }}
:::
:::

::: {.cv-section #grants}
## Grants
::: {.cv-list}
{{ cv_grants }}
:::
:::

::: {.cv-section #teaching}
## Teaching
::: {.cv-list}
{{ cv_teaching }}
:::
:::

::: {.cv-section #supervision}
## Supervision

### Doctoral Supervision {.cv-subheading}
::: {.cv-list}
{{ doctoral_supervision }}
:::

### Master's Supervision {.cv-subheading}
::: {.cv-list}
{{ masters_supervision }}
:::
:::

::: {.cv-section #service}
## Service
{{ service }}
:::

::: {.cv-section #skills}
## Skills
{{ skills }}
:::

::: {.cv-section #miscellaneous}
## Miscellaneous
{{ miscellaneous }}
:::
:::
:::
